.path-mod-cardbox button {
    border: none;
}

.path-mod-cardbox #cardbox-cardcontainer-question {
    display: grid;
    grid-template-columns: 90% 10%;
}

.path-mod-cardbox .cbx-center-align {
    text-align: center;
}

.path-mod-cardbox .img-fluid {
    max-width: 100%;
    max-height: 600px;

}

.path-mod-cardbox #cardbox-userinput,
.path-mod-cardbox .cardbox-userinput {
    margin-top: 10px;
    margin-bottom: 15px;
}

.path-mod-cardbox .cardbox-input-color-correct {
    border-color: #2ab300;
    border: solid;
    margin-bottom: 5px;
}

.path-mod-cardbox .cardbox-input-color-incorrect {
    border-color: #ac0303;
    border: solid;
    margin-bottom: 5px;
}

.path-mod-cardbox .hidden {
    display: none;
}

.path-mod-cardbox #cardbox-mark-as-correct {
    background-color: #00b33c;
    border: none;
}

.path-mod-cardbox #cardbox-mark-as-incorrect {
    background-color: #ff9900;
    border: none;
}

.path-mod-cardbox .cardbox-practice .btn {
    float: right;
    width: fit-content;
}
.path-mod-cardbox .cardbox_card_deck_icon {
    height: 30px;
    width: 30px;
    margin-bottom: 1%;
    padding-bottom: 2px;
}
.path-mod-cardbox .cardbox_autocorrect_icon {
    height: 1.6em;
    margin-left: 2%;
}
.path-mod-cardbox #cardbox-practice {
    margin-top: 30px;
}

.path-mod-cardbox .cardbox-contextfield-practice {
    max-width: none;
    padding: 0%;
    min-height: 2em;
}

.path-mod-cardbox #review-button-wrapper {
    text-align: center;
    max-width: fit-content;
    padding-right: 0px;
}

.path-mod-cardbox #cardbox-topic-in-review {
    display: flex;
}

.path-mod-cardbox .reviewcontent,
.path-mod-cardbox .overviewcontent {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.path-mod-cardbox .topic-review,
.path-mod-cardbox .topic-overview {
    margin-bottom: 10px;
}

.path-mod-cardbox .cardbox-review-button,
.path-mod-cardbox .cardbox-overview-button-edit,
.path-mod-cardbox .cardbox-overview-button-delete {
    border-radius: 0px;
}

.path-mod-cardbox .cardbox-statistics {
    margin-top: 3em;
}

.path-mod-cardbox .topic {
    text-transform: uppercase;
}

/************************** Practice: modal with practice options *****************************************************/

.path-mod-cardbox .modal {
    /*background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(32, 32, 32, 0.75); /* Black w/ opacity */
}

.path-mod-cardbox .modal-content {
    -webkit-overflow-scrolling: initial !important;
}
.path-mod-cardbox .modal-body .cardbox-options .row {
    margin-bottom: 1.5em;
}

.path-mod-cardbox .cardbox-options {
    display: grid;
    grid-template-columns: 45% 55%;
    /*grid-template-rows: 33% 33% 34%;/*61.8% 38.2%;*/
    grid-template-areas: "A B" "C D" "E F" "G H" "I J";
    align-items: center;
    justify-items: start; /*no visible effect*/
}

.path-mod-cardbox .goldenleft,
.path-mod-cardbox .goldenrigth {
    margin-bottom: 2em;
}

.path-mod-cardbox .item {
    display: flex;
    align-self: center;
    box-sizing: border-box;
}
.path-mod-cardbox .item.a {
    grid-area: A;
    margin-top: 15px;
}
.path-mod-cardbox .item.b {
    grid-area: B;
    margin-left: 20px;
    margin-top: 15px;
}
.path-mod-cardbox .item.c {
    grid-area: C;
}
.path-mod-cardbox .item.d {
    grid-area: D;
}

.path-mod-cardbox .item.e {
    grid-area: E;
}

.path-mod-cardbox .item.f {
    grid-area: F;
}

.path-mod-cardbox .item.g {
    grid-area: G;
    /*margin-bottom: 0em; */
}

.path-mod-cardbox .item.h {
    grid-area: H;
    /* margin-bottom: 0em; */
    margin-left: 20px;
}

.path-mod-cardbox .item.i {
    grid-area: I;
    margin-bottom: 0em;
}

.path-mod-cardbox .item.j {
    grid-area: J;
    margin-bottom: 0em;
}

.path-mod-cardbox .modal-dialog .cardbox-options select {
    width: inherit;
}

/************************** Practice: autocorrection mode, solution display *****************************************************/

/* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap*/

.path-mod-cardbox .cardbox-card-text,
.path-mod-cardbox .cardbox-text {
    font-size: 16px;
}
.path-mod-cardbox #review-div {
    display: none;
}

.path-mod-cardbox .sticky-review-arr {
    position: fixed;
    bottom: 50%;
    left: 80%;
    right: 50%;
    width: 400px;
}

.path-mod-cardbox .cardbox-card-context {
    font-size: 0.9375rem;
    margin-bottom: 1%;
    height: 10%;
}

.path-mod-cardbox .cardbox-selfcheck-question-side {
    margin-bottom: 1rem;
}

.path-mod-cardbox .cardbox-column {
    padding-left: 0em;
    padding-right: 0em;
}

.path-mod-cardbox .cardbox-context-overview {
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 1em;
    padding: 10px;
}

.path-mod-cardbox .cardbox-context-practice {
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    margin-top: 1em;
}

.path-mod-cardbox .cardbox-card-left-side,
.path-mod-cardbox .cardbox-card-right-side {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    /* margin-bottom: 2em; */
    padding: 1em;
    height: 100%;
}
.path-mod-cardbox .cardbox-card-right-side-multi {
    border-radius: 3px;
    /* margin-bottom: 2em; */
    margin-right: 1em;
    margin-left: 0.2em;
    height: 100%;
    display: grid;
}
.path-mod-cardbox .cardbox-cardside-multi {
    border: 1px solid #e6e6e6;
    padding: 1em;
    margin-bottom: 1%;
}
.path-mod-cardbox .cardbox-cardside-multi:last-child {
    margin-bottom: 0;
}
.path-mod-cardbox .cardbox-cardside-multi.suggestion {
    border-color: mediumvioletred;
    border-style: solid;
}
.path-mod-cardbox .checkbox-card {
    margin-left: 2%;
}
.path-mod-cardbox .kontext-grid {
    display: grid;
    grid-template-columns: 33.33% 33.33%;
    justify-content: center;
    grid-gap: 2.3%;
    margin-left: 10%;
    margin-right: 22%;
}

@media (max-width: 600px) {
    .path-mod-cardbox .review-button {
        margin-top: 10%;
    }
    .path-mod-cardbox .cardbox-qside {
        margin-right: 1%;
        margin-left: 1%;
    }
    .path-mod-cardbox .cardbox-aside {
        margin-right: 1%;
        margin-left: 1%;
        margin-top: 10%;
    }
    .path-mod-cardbox .context-column {
        text-align: center;
        font-style: italic;
    }
    .path-mod-cardbox .common-margin {
        font-size: 0.7rem;
    }
    .path-mod-cardbox .edit-topic {
        margin-left: 0%;
    }
}

@media (max-width: 323px) {
    .path-mod-cardbox .review-button {
        margin-top: 10%;
    }
    .path-mod-cardbox #cardbox-feedback-wrapper,
    .path-mod-cardbox #cardbox-feedback,
    .path-mod-cardbox #cardbox-proceed-buttons {
        padding: 0em;
    }

}

/* col-sm Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .path-mod-cardbox .review-button {
        margin-top: 10%;
    }
    .path-mod-cardbox .cardbox-card-text,
    .path-mod-cardbox .cardbox-image {
        font-size: 1.2rem;
    }

    .path-mod-cardbox .cardbox-card-left-side {
        margin-right: 0.2em;
        margin-left: 1em;
        padding: 2em;
    }

    .path-mod-cardbox .cardbox-card-right-side {
        margin-right: 1em;
        margin-left: 0.2em;
        padding: 2em;
    }

    .path-mod-cardbox .cardbox-feedback {
        padding-left: 0;
        padding-right: 0;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {

    .path-mod-cardbox .cardbox-feedback {
        padding-left: 2em;
        padding-right: 2em;
    }
    .path-mod-cardbox .edit-topic {
        margin-left: 13.5%;
    }


}

/* col-lg Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .path-mod-cardbox .edit-topic {
        margin-left: 13.5%;
    }
}

/* col-xl Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .path-mod-cardbox .edit-topic {
        margin-left: 13.5%;
    }
}

@media only screen and (min-width: 1062px) {
    .path-mod-cardbox .cardbox-card-text,
    .path-mod-cardbox .cardbox-image {
        font-size: 1.4rem;
    }
}

.path-mod-cardbox #cardbox-feedback {
    /* font-size: 16px; */
    /* padding-top: 0.2em; */
    margin-top: 4%;
    font-weight: 700;
    /* margin-bottom: 1%; */
    /* font-size: 1.4rem!important; */
}

.path-mod-cardbox .cardbox-feedback {
    border: 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /*padding-left: 2em;
    padding-right: 2em;*/
}


.path-mod-cardbox #cardbox-suggestanswer,
.path-mod-cardbox #cardbox-cancel-button,
.path-mod-cardbox #cardbox-mark-as-incorrect {
    margin-right: 0.5em;
}

.path-mod-cardbox .cardbox-success {
    /* background-color: #8dc060;
    border-color: #8dc060; */
    color: #2ab300;
}

.path-mod-cardbox .cardbox-warning {
    /*     background-color: #fff059;
    border-color: #fff059;
    */    color: #b1a415;
}

.path-mod-cardbox .cardbox-error {
    /*     background-color: #cc071e;
    border-color: #cc071e;
    color: white; */
    color: #ac0303;
}

.path-mod-cardbox #id_addcontextques,
.path-mod-cardbox #id_addcontextans,
.path-mod-cardbox #id_addsound,
.path-mod-cardbox #id_addimage {
    color: #fff;
    background-color: #00549F;
    border-color: #00549F;
} 

.path-mod-cardbox #fitem_id_cardimage,
.path-mod-cardbox #fitem_id_imagedescription,
.path-mod-cardbox #fitem_id_cardsound,
.path-mod-cardbox #fitem_id_questioncontext,
.path-mod-cardbox #fitem_id_answercontext,
.path-mod-cardbox #fgroup_id_imgdescriptionar,
.path-mod-cardbox #fitem_id_answer2,
.path-mod-cardbox #fitem_id_answer3,
.path-mod-cardbox #fitem_id_answer4,
.path-mod-cardbox #fitem_id_answer5,
.path-mod-cardbox #fitem_id_answer6,
.path-mod-cardbox #fitem_id_answer7,
.path-mod-cardbox #fitem_id_answer8,
.path-mod-cardbox #fitem_id_answer9,
.path-mod-cardbox #fitem_id_answer10 {
    display: none;
}

.path-mod-cardbox .card-icon-grid-div {
    float: right;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1px;
}
.path-mod-cardbox .review-icon-grid-div {
    float: right;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1px;
}
.path-mod-cardbox .rep-icon-grid-div {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10%;
}
.path-mod-cardbox .common-margin {
    margin-right: 10px;
    font-size: small;
}
.path-mod-cardbox .common-margin:last-child {
    margin-right: 0px;
}

.path-mod-cardbox #id_newtopic {
    display: none;
}

.path-mod-cardbox #id_newtopic.shown {
    display: flex;
}

.path-mod-cardbox .cardbox-create-topic-titles {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.path-mod-cardbox #create-new-topic {
    margin-right: 5px;
    width: 30em;
}

.path-mod-cardbox .displaynone {
    display: none;
}

.path-mod-cardbox .review-topic {
    margin-left: 13%;
}
.path-mod-cardbox .common-margin {
    font-size: small;
}
/*.mul-ans-text{
    position: absolute;
    right: 9em;
    bottom: 1em;
}*/
.path-mod-cardbox .anscount_icon {
    height: 1.75em;
}
.path-mod-cardbox .autocorrect_icon {
    height: 1.6em;
}
.path-mod-cardbox .ques-teil {
    padding: 0px;
}
.path-mod-cardbox .ans-teil {
    padding: 0px;
}

@media (max-width: 800px) {
    .path-mod-cardbox .review-topic {
        margin-left: 1%;
    }
    .path-mod-cardbox .common-margin {
        font-size: x-small;
    }
    .path-mod-cardbox .cardbox-card-right-side-multi {
        margin-right: 0em;
        margin-left: 0em;
    }
    .path-mod-cardbox .ques-teil {
        padding: 0px;
    }
    .path-mod-cardbox .ans-teil {
        padding: 0px;
    }
    .path-mod-cardbox .review-button-wrapper {
        margin-top: 2em;
    }
    .path-mod-cardbox .cardbox-card-left-side {
        margin-right: 2%;
        margin-left: 2%;
    }
    .path-mod-cardbox .cardbox-card-right-side {
        margin-right: 2%;
        margin-left: 2%;
    }
    .path-mod-cardbox .cardbox-card-right-side-multi {
        margin-right: 2%;
        margin-left: 2%;
    }
}

/* Fix display of multiple answers containing formulas in self check practice. */
.path-mod-cardbox .cardbox-card-text p {
    display: inline-block;
}
