<div id="cardbox-practice" class="container-fluid cardbox-practice">

    <div id="cardbox-practice-replacable">
        {{#case1}}
            {{> mod_cardbox/practice_question_selfcheck }}
        {{/case1}}

        {{#case2}}
            {{> mod_cardbox/practice_question_autocheck }}
        {{/case2}}

        {{#case3}}
            {{> mod_cardbox/practice_answer_selfcheck }}
        {{/case3}}

        {{#case4}}
            {{> mod_cardbox/practice_answer_autocheck }}
        {{/case4}}

        {{#case5}}
            {{> mod_cardbox/practice_suggest_answer }}
        {{/case5}}
        
    </div>

{{!     <div id="cardbox-practice-feedback-collection" class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"><canvas id="cardbox-practice-feedback" width="100" height="100"></canvas></div>
        <div class="col-sm-3"><canvas id="cardbox-overall-status" width="100" height="100"></canvas></div>
        <div class="col-sm-3"></div>
    </div> }}

    <div id="cardbox-practice-feedback-collection" class="row">
        <div class="hidden-xs col-md-1 col-lg-2 col-xl-3" style="max-width: 30%; flex: 0 0 30%"></div>
        <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6" style="max-width: 40%; flex: 0 0 40%; min-width: 200px; min-height: 200px;"><canvas id="cardbox-practice-feedback" width="100" height="100"></canvas></div>
        <div class="hidden-xs col-md-1 col-lg-2 col-xl-3" style="max-width: 30%; flex: 0 0 30%"></div>
    </div>

</div>
