<div id="cardbox-practice-content" class="row">

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    <div id="cardbox-cardcontainer" class="col-xs-12 col-md-10 col-lg-8 col-xl-6 topic">{{topic}}</div>
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    <div id="cardbox-cardcontainer" class="col-xs-12 col-md-10 col-lg-8 col-xl-6 ">
        {{#question}}
            {{> mod_cardbox/cardside }}
        {{/question}}
    </div>
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3">
    <!--<button id="cardbox-see-options" type="button" class="btn btn-primary" data-toggle="modal" data-target="#cardboxPracticeSettings">{{# str }} options, cardbox {{/ str }}</button>-->
    </div>

</div>

{{#contextquestionavailable}}

<div class="row">

    <div class="hidden-xs col-lg-1 col-xl-2 col-xl-3"></div>
        <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6 cardbox-selfcheck-question-side">{{{contextquestion}}}</div>
    <div class="hidden-xs col-lg-1 col-xl-2 col-xl-3"></div>

</div>

{{/contextquestionavailable}}

<div id="cardbox-practice-content" class="row">
    
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>

    {{#answer}}
    <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6" style="margin-top: 20px">

        {{#morethanonesolution}}
        {{#texts}}
        <li class="cardbox-card-text">{{{text}}}</li>
        {{/texts}}
        {{/morethanonesolution}}

        {{^morethanonesolution}}
        {{#texts}}
        <div class="cardbox-card-text">{{{text}}}</div>
        {{/texts}}
        {{/morethanonesolution}}

    </div>
    {{/answer}}

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>


</div>

{{#contextansweravailable}}

    <div class="row">

        <div class="hidden-xs col-lg-1 col-xl-2 col-xl-3"></div>
            <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6 cardbox-selfcheck-question-side">{{{contextanswer}}}</div>
        <div class="hidden-xs col-lg-1 col-xl-2 col-xl-3"></div>

    </div>

{{/contextansweravailable}}

<div id="cardbox-practice-user-interaction" class="row">

    <div class="hidden-xs col-lg-1 col-xl-2 col-xl-3"></div>
    <div id="cardbox-buttons-practice" class="col-xs-12 col-md-10 col-lg-8 col-xl-6">
            <span id="cardbox-proceed-buttons" class="col-xs-12 cardbox-buttons" style="max-width: 100%">

                <button id="cardbox-mark-as-correct" type="button" class="btn btn-primary">{{# str }} markascorrect, cardbox {{/ str }}</button>
                <button id="cardbox-mark-as-incorrect" type="button" class="btn btn-primary" >{{# str }} markasincorrect, cardbox {{/ str }}</button>               

            </span>
    </div>
    <div class="hidden-xs col-lg-1 col-xl-2 col-xl-3"></div>

    <div class="hidden-xs col-lg-1 col-xl-2 col-xl-3"></div>
    <div id="cardbox-buttons-practice" class="col-xs-12 col-md-10 col-lg-8 col-xl-6" style="margin-top: 5px">
            <span id="cardbox-proceed-buttons" class="col-xs-12 cardbox-buttons" style="max-width: 100%">

                <button id="cardbox-proceed" type="button" class="btn btn-primary" hidden >{{# str }} proceed, cardbox {{/ str }}</button>
                <button id="cardbox-suggestanswer" type="button" class="btn btn-primary" hidden >{{# str }} suggestanswer, cardbox {{/ str }}</button>

            </span>
    </div>
    <div class="hidden-xs col-lg-1 col-xl-2 col-xl-3"></div>

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6"> 
        <div style="float: right; margin-top: 15px">{{# str }} cardsleft, cardbox {{/ str }} {{cardsleft}}</div>
    </div>
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>

</div>